{% extends 'app1/base.html' %}
    <!-- Sidebar with chapter and section options populated from database and links to specific section page -->
    {% block content %}
    <body id="bg" style="background-image: url('https://as1.ftcdn.net/v2/jpg/01/18/67/32/1000_F_118673248_6ke3PzQN2PTU8BHilr6EPeLN4Xfrp0Wl.jpg');">

        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#"><i class="#"></i>Algorithms</a></div>
                {% for algchapter in all_Alg_chapters %}
                <div class="item">
                    <a class="sub-btn" href="#"><i class="fas fa-calculator"></i>{{algchapter.title}}<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for algsection in algchapter.algsection_set.all %}
                            <a href="{{ algchapter.id }}/{{ algsection.id }}/" class="sub-item">{{ algsection.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    <div class="container">
        <p>
            <h1 align="center">Algorithms</h1><br>
            <h3 style="color:white">
                This section explains and implements various classes of algorithms that occur frequently in coding challenges.
            </h3>
            <br><br><br>
        </p>
    </div>
    {% endblock %}
