{% load static %}
<!-- Base html page for each Project Euler section page -->
<link rel="stylesheet" type="text/css" href="{% static 'app1/style.css' %}">
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>AlgSection</title>
        <style>
            h1{text-align: center; color:white;}
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" charset="utf-8"></script>
    </head>

    <body id="bg" style="background-image: url('https://wallpapercave.com/wp/wp2598963.jpg');">

        <h1>Name: {{algsection.name}} AlgChapter title: {{algchapter.title}}</h1>
        <h1>AlgSection id: {{algsection.id}} AlgChapter id: {{algchapter.id}}</h1>
        <br><br><br>

        {% if algchapter.id == 4 and algsection.id == 6 %}
            {% include 'app1/UniqueChar.html' %}
        {% endif %}

    </body>
</html>