{% extends 'app1/base.html' %}

    {% block content %}
    <body id="bg">
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#"><i class="#"></i>Discrete Math</a></div>
                {% for chapter in all_DM_chapters %}
                <div class="item">
                    <a class="sub-btn" href="#"><i class="fas fa-calculator"></i>{{chapter.title}}<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for section in chapter.dmsection_set.all %}
                            <a href="{{chapter.id}}/{{ section.id }}/" class="sub-item">{{ section.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="container">
        <p>
            <h1 align="center">Discrete Mathematics</h1><br>
            This section covers many topics in discrete mathematics that are relevant to computer science.
                The books used for the content in this section are Discrete Mathematics with Applications
                and Concrete Mathematics: A Foundation for Computer Science.
                <br><br><br>
            <img src="https://blog-media.byjusfutureschool.com/bfs-blog/2022/09/21090501/Article-Page-86.png" alt="Leonhard Euler">
        </p>
    </div>
    {% endblock %}
