{% extends 'app1/base.html' %}
    {% block content %}
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#"><i class="#"></i>Project Euler</a></div>
                {% for chapter in all_chapters %}
                <div class="item">
                    <a class="sub-btn" href="#"><i class="fas fa-calculator"></i>{{chapter.title}}<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for section in chapter.section_set.all %}
                            <a href="{{chapter.id}}/{{ section.id }}/" class="sub-item">{{ section.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    <div class="container">
        <p>
            <h1 align="center">Project Euler</h1><br>
            This section is dedicated to the various problems on Project Euler (<a href="https://projecteuler.net/">link to site</a>)
            These problems require an application of many different concepts in mathematics and
            computer science to solve. The problems are classified by difficulty as a percent
            (5% being the easiest, 10% being second easiest, etc).
            <br><br><br>
            <img src="https://www.historyhit.com/app/uploads/2022/08/Leonhard_Euler-Cover-Image.jpg" alt="Leonhard Euler">
        </p>
    </div>
    {% endblock %}
