{% extends 'app1/base.html' %}

    {% block content %}
    <body id="bg" style="background-image: url('https://wallpapercave.com/wp/wp7429585.png');">
    <!-- Sidebar with chapter and section options populated from database and links to specific section page -->
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#"><i class="#"></i>Statistics & Probability</a></div>
                {% for chapter in all_Stats_chapters %}
                <div class="item">
                    <a class="sub-btn" href="#"><i class="fas fa-calculator"></i>{{chapter.title}}<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for section in chapter.statssection_set.all %}
                            <a href="{{chapter.id}}/{{ section.id }}/" class="sub-item">{{ section.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="container">
        <p>
            <h1 align="center" style="color:black">Statistics</h1><br>
                <h3 style="color:black">
                    This section is dedicated to the field of statistics and probability and its
                    applications for computer science.
                </h3>

            <br><br><br>
        </p>
    </div>
    {% endblock %}
