{% extends 'app1/base.html' %}

    {% block content %}
    <body id="bg">
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#"><i class="#"></i>Statistics & Probability</a></div>
                {% for chapter in all_Stats_chapters %}
                <div class="item">
                    <a class="sub-btn" href="#"><i class="fas fa-calculator"></i>{{chapter.title}}<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for section in chapter.statssection_set.all %}
                            <a href="{{chapter.id}}/{{ section.id }}/" class="sub-item">{{ section.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
