*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    min-height: 100vjh;
    background-size: cover;
    padding-top: 52px;
    background-image: url('https://wallpapercave.com/wp/wp2598963.jpg');
    backdrop-filter: blur(6px);
}

ol{
    list-style: decimal;
    list-style-position: inside;
}

.side-bar{
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(7px);
    background-color: rgba(0,0,0,0.5);
}

.side-bar .menu{
    width: 100%;
    margin-top: 30px;
}
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    line-height: 50px;
}

.side-bar .menu .item a:hover{
    background: #0f1994;
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu{
    background: rgba(100,100,100,0.5);
    display: none;
}

.side-bar .menu .item .sub-menu a{
    padding-left: 20px;
    border-top-style: solid;
    border-top-color: black;
    border-width:1px;
}

.rotate{
   transform: rotate(90deg);
}

.content{
    flex-grow: 1;
    text-align: center;
    margin-left: 300px;
    margin-right: 50px;
    height: 100vh;
    color: rgba(255,255,255,1);
}

.inner-text{
    font-size: 50px;
    color: rgba(255,255,255,1);
    margin-top: 100px;
}

.navbar{
    position: fixed;
    width: 100%;
    padding-left: 250;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
}

.container{
    padding-top: 50;
    color: white;
    text-align: left;
    padding-left: 250;
}

